.container {
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
}

.header-text {
  font-size: clamp(3rem, 1rem + 10vw, 3.7rem);
  font-weight: 700;
}

.footer-bg {
  background-color: #5c2886;
  -webkit-clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0% 100%);
}

.faqs-bg {
  background-color: #bb5e660b;
  -webkit-clip-path: polygon(0 22%, 100% 0%, 100% 73%, 0 100%);
  clip-path: polygon(0 22%, 100% 0%, 100% 73%, 0 100%);
}
